*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
ul, ol{
list-style: none;
}
a{
 text-decoration: none;   
}




.it-navigation {
    background-position-y: center;
    display: flex;
    justify-content: end;
    padding-top: 40px;
    padding-bottom: 23px;
  }
  
  .navi-item {
    position: relative;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .navi-item:not(:last-child) {
    margin-right: 40px;
  }
  .navi-item::after {
    content: "";
    transform: scale(0);
    transition: transform cubic-bezier(0.445, 0.05, 0.55);
    transition-duration: 250ms;
  }
  .navi-item:hover:after {
    display: block;
    position: absolute;
    bottom: -40px;
    transform: scale(1);
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  
  .it-header {
    width: 100vw;
    position: absolute;
    border-bottom: 1px solid rgba(161, 161, 161, 0.4941176471);
  }
  
  .container {
    width: 1143px;
    margin: 0 auto;
    padding:0 15px;
  }
  
  .hero {
    background-image: url(../images/herobackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(47, 48, 58, 0.4);
    padding-top: 320px;
    padding-bottom: 335px;
  }
  
  .hero-p {
    color: #FFF;
    text-align: center;
    /* p */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
  }
  
  .hero-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hearo-heading {
    width: 829px;
    height: 111px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 134.09%; /* 64.363px */
  }
  
  .btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    margin-top: 50px;
  }
  
  .service-heading {
    width: 739px;
    height: 93px;
    flex-shrink: 0;
    color: var(--dark, #323232);
    text-align: center;
    /* h2 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%; /* 52.661px */
    margin-top: 110px;
    margin-bottom: 32px;
  }
  
  .after-service {
    width: 730px;
    height: 54px;
    flex-shrink: 0;
    color: var(--grey, #999);
    text-align: center;
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    margin-bottom: 70px;
  }
  
  .service-p {
    width: 226px;
    height: 23px;
    flex-shrink: 0;
    color: #000;
    /* h3 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 36px;
    margin-left: 17px;
  }
  
  .service-li {
    width: 222px;
    height: 58px;
    flex-shrink: 0;
    color: var(--grey, #999);
    /* p>h3 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 22.186px */
    margin-left: 17px;
  }
  
  .btn-sm {
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    /* Shadow */
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 105px;
  }
  
  .service-content {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
  }
  
  .services-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .service-item {
    display: flex;
  }
  .service-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .icon-web-programming {
    font-size: 30px;
    color: #4985FF;
  }
  
  .adv-container {
    background-color: #F6F6F8;
  }
  
  .advantages-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 90px;
  }
  
  .adv-heading {
    width: 424px;
    height: 88px;
    flex-shrink: 0;
    color: var(--dark, #323232);
    /* h2 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%; /* 52.661px */
    margin-bottom: 60px;
  }
  
  .adv-text {
    width: 489px;
    height: 85px;
    flex-shrink: 0;
    color: var(--grey, #999);
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    margin-bottom: 42px;
  }
  
  .adv-link {
    color: var(--Accent, #4985FF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .adv-cont {
    margin-right: 121px;
  }
  
  .border {
    width: 1110px;
    height: 1px;
    background: #E0E0E0;
    margin-left: 205px;
    margin-bottom: 70px;
  }
  
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
  }
  
  .projects-number {
    width: 54px;
    height: 35px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.28%; /* 52.661px */
    margin-left: 20px;
  }
  
  .projects-after {
    width: 100px;
    height: 15px;
    flex-shrink: 0;
    color: var(--grey, #999);
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
  }
  
  .project-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .projects-cont:not(:last-child) {
    margin-right: 100px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
  
  body::-webkit-scrollbar {
    width: 0;
  }
  
  .working {
    background: rgb(95, 18, 208);
    background: linear-gradient(180deg, rgb(95, 18, 208) 51%, rgb(255, 255, 255) 51%);
  }
  
  .work-head {
    width: 540px;
height: 88px;
top: 2500px;
left: 405px;
gap: 0px;
opacity: 0px;

  }
  
  .work-button {
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
  
  .zero-one {
    width: 281px;
    height: 17px;
    color: var(--Accent, #4985FF);
    /* h3 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .work-heading {
    color: #000;
    width: 281px;
    height: 17px;
    flex-shrink: 0;
    /* h3 */
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .after-work {
    width: 350px;
    height: 100px;
    flex-shrink: 0;
    color: var(--grey, #999);
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    margin-bottom: 47px;
  }
  
  .details {
    color: var(--Accent, #4985FF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .work-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
  }
  
  .work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }
  
  .work-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .work-border {
    width: 1130px;
    height: 1px;
    background: #E0E0E0;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }
  
  .code-cont {
    background-color: #F6F6F8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
  }
  
  .code-heading {
    width: 350px;
    height: 35px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    /* h2 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%; /* 52.661px */
    margin-top: 100px;
  }
  
  .code-p {
    width: 730px;
    height: 41px;
    flex-shrink: 0;
    color: var(--grey, #999);
    text-align: center;
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .code-img {
    margin-bottom: 50px;
  }
  .code-img:not(:last-child) {
    margin-right: 30px;
  }
  
  .code-button {
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Accent, #4985FF);
    box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
  }
  
  .icon-play-button {
    font-size: 60px;
    flex-shrink: 0;
    color: #4985FF;
  }
  
  .video {
    height: 735px;
    background-image: url(../images/tematwoimg.jpg);
    background-repeat: no-repeat;
  }
  
  .video-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    margin-bottom: 40px;
  }
  
  .video-heading {
    width: 470px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    /* h2 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.28%; /* 52.661px */
  }
  
  .video-p {
    width: 730px;
    height: 15px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    /* p>h2 */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 158.47%; /* 25.355px */
    margin-top: 30px;
  }
  
  .player-cont {
    width: 970px;
    height: 430px;
    flex-shrink: 0;
    position: absolute;
    left: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/videoplayer.png);
  }
  
  .video-button {
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 200px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 158.47%; /* 25.355px */
    background-color: transparent;
  }
  
  .icon-play-button {
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 160px;
  }
  
  .video-text {
    width: 150px;
    height: 19px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 158.47%; /* 25.355px */
    text-decoration: none;
    position: absolute;
    bottom: 210px;
    right: 370px;
  }
  
  .video-border {
    width: 1110px;
    height: 1px;
    background: #E0E0E0;
    margin-left: 215px;
    margin-bottom: 85px;
  }
  .work-text{
    display: flex;
    justify-content: space-between;
    padding-left: 405px;
    padding-right: 441px;
  }
  .projects-text{


/* p>h2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;

/* grey */
color: #999999;
width: 730px;
margin: 0 auto;


  }
  .projects-header{
  text-align: center;
  }
  .projects-item:not(:last-child){
   margin-right: 30px;

  }
  .projects-list{
    display: flex;
  }
  .code-button{
    display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 50px;

  }
  .our-projects{
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #F6F6F8;
  }
  .projects-text{
    margin-top: 28px;
    margin-bottom: 92px ;
  }